../AirBnB_clone/
../AirBnB_clone_v2/
../AirBnB_clone_v3/
../AirBnB_clone_v4/
../alx-higher_level_programming/
../alx-interview/
../alx-low_level_programming/
../alx-pre_course/
../alx-pre_course2-/
../alx-system_engineering-devops/
../bin/
../dev/
../etc/
../get-pip.py
../lib/
../lib32/
../lib64/
../libx32/
../opt/
../proc/
../root/
../run/
../sbin/
../sys/
../usr/
../var/
../zero_day/
../hiyakaya_app.git/

